@font-face {
    font-family: BebasNeue;
    src: url("/BebasNeue-Regular.ttf");

}

:root {
    --ColorPrimary: #EDECE3;
    --ColorPrimaryLight: #8D99AE;
    --ColorSecondary: #031CA6;
    --ColorSecondaryLight: #031CA6;
    --ColorLight: #EDF2F4;
    --ColorWhite: #ffffff;
    --ColorBlack: #000000;
    --FontPrimary: BebasNeue-Regular;
    --MaxWidth: 1200px;
    --HeightDefined: 80px
  }
  
* {
   /* 
color: #1e1e1e;

background-color: transparent;

font-family: 'Roboto', sans-serif;

font-size: 12pt;

font-weight: 400;

list-style: none;

text-decoration: none;

border: solid 2px rgb(202, 27, 27);

outline: none;
margin: 0;
padding: 0;
*/




}
.li{
   width: 10px;
   height: 100px;
   margin: 0px;
   padding: 0px;
}

.header {
    padding: 1em;
}
.header .navbar {
    display: flex;
    justify-content: space-between;
}
.header .navbar .list {
    list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1.6em;
    


}

.Jumbotron {
    width: 100%;
    display: flex;
    align-items: left;
    margin: 6em auto;
    gap: 2em;
  }

h1.jumnotron_title {
    font-size: 4em;
    text-align: left;
}

p.jumnotron_title_param {

    display: flex;
    justify-content: space-between;
}

img.img_computador {
    border-radius: 2em;
    padding: 1em;
}
button.button1 {
    display: inline-block;
    margin: 2px 5px;
  background-color: #031CA6;
  color: antiquewhite;
  border-color: transparent;
  padding: 10px;
  border-radius: 10px;
  align-items:left ;
  
}


/* ----------------------------------------------------------------------
-----------------------Contenido de la Página-------------------------- 
-------------------------------------------------------------------------*/


.section {
    display: flex;
    flex-direction: column;
    margin: 5em auto;   

}
.contenido {
    padding: 0 2.6em;
    display: flex;
    width: 96%;
    max-width: var(--MaxWidth);
    margin: 1 auto;
}

.contenido_parrafo_1 {
    font-size: 2em;
    text-align: right;
}

p.contenido_parrafo_2 {
    
    display: flex;
    justify-content: space-between;
    text-align:right;
    font-size: 1em;

}

p.contenido_parrafo_2 {
    display: flex;
    justify-content: space-between;
    text-align:right;
}


img.contenido_imgpagina1 {
    display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 4px;
}

button.button2 {
    display: inline-block;
    margin: 2px 15px;
  color: #031CA6;
border-color: #031CA6;
border-width: 1pt;
border-style: solid;
  padding: 10px;
  border-radius: 10px;
  align-items:left ;
  
}
/*--------------------------------------------------------------------------------------------
-----------------------------------section2---------------------------------------------------
---------------------------------------------------------------------------------------------*/

.section2 {
    width: 100%;
    display: flex;
    align-items: left;
    margin: 6em auto;
    gap: 2em;
}

p.tab {
    font-size: 4em;
    text-align: left;
}

p.tab_parrafo  {
    display: flex;
    justify-content: space-between;
    text-align:left;
}

img.img_tablet {
    display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 4px;
  float: right;
}


/*-------------------------------------------------------------------------------------------------------
-------------------------------------section3-----------------------------------------------------------
-------------------------------------------------------------------------------------------------------*/

.section3  {
    width: 100%;
    display: flex;
    align-items: left;
    margin: 6em auto;
    gap: 2em;
}

p.laptop   {
    font-size: 4em;
    text-align: left;  
}

p.laptop_parrafo  {
    display: flex;
    justify-content: space-between;
    text-align:left;
}
.img_computador  {
    display: flex;
    justify-content: right;
}

/*-------------------------------------------------------------------------------------------------------
-------------------------------------final de pagina-----------------------------------------------------
-------------------------------------------------------------------------------------------------------*/



ul.parte_final {

    gap: 1cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
}

button.button3 {
margin: 2px 15px;
color: #031CA6;
border-color: #031CA6;
border-width: 1pt;
border-style: solid;
  padding: 10px;
  border-radius: 10px;
  align-items:cent ;
  
}


/*-------------------------------------------------------------------------------------------------------
-------------------------------------footer de la pagina-----------------------------------------------------
-------------------------------------------------------------------------------------------------------*/

.section_footer {
    width: 100%;
  
  display: contents;
    align-items: center;
    margin: 6em auto;
    gap: 2em;


.unete {
    gap: 1cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
}

.pcmac {
    gap: 1cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
}


.form {
    margin: 2em auto;
   }
   .form {
     border: 1px var(--ColorLight) solid;
     padding: .6em 1.2em;
     border-radius: 10px;
     background-color: var(#031CA6));
     color: var(--ColorWhite));
     width: 30em;
     
   }